<div style="text-align:center">
    <h1>
      Bienvenido
    </h1>
    <br>
    <div class="form-group col-md-6">
      <label for="exampleFormControlSelect2">prueba</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <br>
    <button class="col-md-6" (click)="autenticar()">  Obtener  </button>
    <br>
    <br>

    <p>
      <button class="col-md-4" (click)="logout()"> Logout </button>
    </p>
  
  </div>
